h1 {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin: auto;
  width: 50%;
  font-size: 30px
  padding: 10px;
}